:root {
    --sariq-1: #FFB342;
    --sariq-2: #FFC368;
    --darkblue: #1C2752;
    --darkblue-40: #1C275266;
    --darkblue-86: #1C2752DB;
    --darkblue-2: #2C3765;
    --darkblue-3: #4B557D;
    --oq: #FFFFFF;
    --qora-2: #222222;
    --kulrang: #7E7E7E;
    --kulrang-2: #CCCCCC;
    --light: #F4F4F4;
    --light-2: #D2D2D2;
    --light-3: #D7D7D7;
    --light-4: #DCDCDC;
    --light-5: #DDDDDD;
    --light-6: #F2F2F2;
    --light-20: #FFFFFF33;
}