@import "colors.css";
@import "variables.css";
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


/* header > information start */

.header {
    width: 100%;
}

.information {
    width: 100%;
    height: auto;
    background-color: var(--light-6);
}

.information .info-box {
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information .info-box .desc {
    font: var(--desc-font);
    letter-spacing: var(--desc-ls);
    text-align: left;
}

.information .info-box .social {
    width: 156px;
    height: 29px;
    padding: 6px 10px 4px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-box {
    width: 100%;
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-box .contact-us {
    display: flex;
    align-items: center;
}

.contact-box .contact-us>div {
    width: 257.84px;
    height: 68px;
    padding: 0px 0px 0px 0.25px;
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.contact-box .contact-us>div>div[class*="-logo"] {
    width: 68px;
    height: 68px;
    border-radius: 100px;
    background-color: var(--sariq-1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.contact-box .contact-us>div>div.text h3 {
    font: var(--contact-h);
    color: var(--darkblue);
}

.contact-box .contact-us>div>div.text a {
    font: var(--desc-font);
    color: var(--kulrang);
}