:root {
    --desc-font: 400 17px/27px 'Inter', sans-serif;
    --contact-h: 400 20px/26px 'Mulish', sans-serif;
    --big-title: 400 60px/78px 'Mulish', sans-serif;
    --btn-s: 400 20px/30px 'Inter', sans-serif;
    --title: 400 45px/59px 'Mulish', sans-serif;
    --desc-ls: 0.36000001430511475px;
}